<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.anotherjack.aopdemo2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".solution1.UserListActivity1" />
        <activity android:name=".solution3.UserListActivity3" />
        <activity android:name=".solution2.UserListActivity2" />
        <activity
            android:name=".loginmodule.InputAccountActivity"
            android:label="登录模块" />
        <activity
            android:name=".loginmodule.InputPasswordActivity"
            android:label="登录模块" />
        <activity
            android:name=".authmodule.AuthActivity"
            android:label="实名认证模块" />
        <activity android:name=".vipmodule.BuyVipActivity"
            android:label="Vip商城"/>
        <activity android:name=".solution4.UserListActivity4" />
    </application>

</manifest>